body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 45px 86px 15px;
}

.container2 {
  padding: 45px 86px 15px;
}
.core{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50;
}

.notedContainer{
  display: flex;
  flex-direction: column;
}

.to-do-list {
  opacity: 1;
  text-decoration: none;
  background-color: rgb(202, 255, 222);
  margin: 10px 0;
  padding: 10px 10px;
  /* background: rgb(241,241,241); */
  border-radius: 4.5px;
  animation: eMLfYp 300ms linear;
  justify-content: space-around;
}

.completed-list {
  opacity: 0.35;
  text-decoration: line-through;
  background-color: rgb(222, 202, 255);
  margin: 10px 0;
  padding: 10px 10px;
  /* background: rgb(241,241,241); */
  border-radius: 4.5px;
  animation: eMLfYp 300ms linear;
  justify-content: space-around;
}

.newCard {
  display: inline-block;
}

.notedCard{
  display: inline-block;
  margin: 20px;
}

.carousel{
  background-color: #40A9FF;
  text-align: center;
}
.quotes{
  display: flex;
  padding: 200px;
  justify-content: center;
  align-items: center;
}
.quotes h1{
  color: #fff;
}